*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 100px;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav1{
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-size: 25px;
    font-weight: 400;
}
#bt1{
    padding: 5px 10px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 500;
    background-color: white;

}
#bt2{
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: turquoise;
    color: rgb(19, 19, 19);
}
#main>h1{
    font-size: 170px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
}
img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50% , -50%);
    
}
#img1{
    transform: translate(-50% , -50%) rotate(-35deg);
}
#img2{
    transform: translate(-50% , -50%) rotate(-30deg);
}
#img3{
    transform: translate(-50% , -50%) rotate(-25deg);
}
#img4{
    transform: translate(-50% , -50%) rotate(-20deg);
}
#img5{
    transform: translate(-50% , -50%) rotate(-15deg);
}
#img6{
    transform: translate(-50% , -50%) rotate(-10deg);
}
#img8{
    transform: translate(-50% , -50%) rotate(-0deg);
}
#btmleft{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 15px;

}
#btmright{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
    display: flex;
    
}
#i1{
    padding: 5px;
}
#i2{
    padding: 5px;
}
#i3{
    padding: 5px;
}